*.inc.H
*.a
*.tar.gz
*.tar.xz
m4
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configdirs.h
configure
depcomp
install-sh
missing
stamp-h1
testcontroller
testcontroller2
testcontroller2fdleak
testdepcomputations
testpoller
testprocloader
vera
vlad
