*.8
*.8.in
*.a
*.inc.H
*.sig
*.stamp
*.tar.gz
*.tar.xz
*.txz
/m4
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
/configdirs.h
/configure
/depcomp
INSTALL
install-sh
missing
/rc.local.vera
/rc.local_shutdown.vera
/rc.sysvinit.vera
/releasenotes.txt
stamp-h1
/testcontroller
/testcontroller2
/testcontroller2fdleak
/testcontroller3
/testcontroller4
/testdepcomputations
/testinittab
/testhook
/testpoller
/testprocloader
/testswitchlog
/vera
/vera-init
/vlad
